BOT_TOKEN=
OPENAI_API_KEY=
ZIBAL_MERCHANT=
BASE_URL=https://neshoone.smarbiz.sbs
DOMAIN=neshoone.smarbiz.sbs
DATABASE_PATH=/data/neshoone.db
OPENAI_MODEL=gpt-4.1-mini
FORTUNE_PRICE_TOMAN=10000
IMAGE_DETAIL=high
MAX_IMAGE_SIDE=1280
